<div class="row">
<h1>Коды для волонтеров</h1>
	<div class="col-md-5">
		<legend>Активные</legend>

		<div class="list-group">
			<% @codes.each do |code| %>
				  
				    <h4 class="list-group-item-heading"><%= code.value %> &mdash; <%= link_to 'выдать', manager_code_deactivate_path(code.id), method: :post %></h4>
				    
				  
			<% end %>
		</div>

		<p>Выдано, но не использовано кодов: <%= @out_codes %></p>
	</div>

	<div class="col-md-7" id="status-info">


		<%= form_tag manager_codes_path, method: :post, :html => { :multipart => true, class: "form-horizontal" } do |form| %>

		  <fieldset>
		    <legend>Сгенерировать новые коды</legend>
		    <div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Количество</label>
		      <div class="col-lg-10">
			 		<div class="radio">
			          <label>
			          	<input type="radio" name="total" value="1">
			            
			            Один
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="total" value="5">
			            Пять
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="total" value="10">
			            Десять
			          </label>
			        </div>	
		      </div>
		    </div>

		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <%= submit_tag 'Создать', class: "btn btn-success" %>
		      </div>
		    </div>
		  </fieldset>
		<% end %>


	</div>

</div>