<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @pattern.text %>
</p>

<p>
  <strong>First name:</strong>
  <%= @pattern.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pattern.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @pattern.middle_name %>
</p>

<p>
  <strong>District:</strong>
  <%= @pattern.district %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pattern.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @pattern.mobile %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @pattern.skype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pattern.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pattern.sex %>
</p>

<p>
  <strong>Conversation status:</strong>
  <%= @pattern.conversation_status %>
</p>

<%= link_to 'Edit', edit_manager_pattern_path(@pattern) %> |
<%= link_to 'Back', manager_patterns_path %>
