<h2><i>Диалог c </i><%= @conversation.voter.name %></h2>
    
<div class="row">
  <div class="col-md-6">
    <h4>Начало диалога: <%= @conversation.created_at.strftime('%d.%m.%Y %H:%M') %></h4>
    <div class="alert alert-dismissable alert-info">
      <ul class="list-unstyled">
        <li>Район: <strong><%= $distrcits[@conversation.voter.district.to_i]%></strong></li>
        <li>Онлайн: <strong><%= @conversation.voter.last_seen.strftime('%d.%m.%Y %H:%M') if @conversation.voter.last_seen.present?%></strong></li>
        <li>День рождения*: <strong><%= @conversation.voter.bdate.strftime('%d.%m.%Y') if @conversation.voter.bdate.present? %></strong></li>
        <li>Соц. вес: <strong><%= @conversation.voter.social_weight %></strong></li>
      </ul>
      <br/>
      <small><i>*если год рождения 2014, то указан только день и месяц</i></small>
    </div>
    

    <% if @conversation.voter.can_write? %>
      <%= link_to "Открыть диалог Вконтакте", "http://vk.com/write#{@conversation.voter.vk_id}", target: "_blank", class: 'btn btn-success btn-block' %>
    <% else %>
      <%= link_to "Перейти на страницу Вконтакте", "http://vk.com/id#{@conversation.voter.vk_id}", target: "_blank", class: 'btn btn-warning btn-block' %>
    <% end %>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag @conversation.voter.image_url, class: "img-circle" %>
  </div>
</div>

<div class="row"  style="padding-top:20px;">
  <div class="col-md-6"><h5>В процессе общения не забывайте указывать подходящие статусы для диалога или пользователя:</h5></div>
  <div class="col-md-6"><h5>Не знаешь как начать разговор? Попробуй такой вариант:</h5></div>
  </div>
  <div class="row"  style="padding-top:20px;">
  <div class="col-md-3">
    <div class="btn-group btn-block">
      <button type="button" class="btn btn-info btn-xs" id="conversation-status"><%= @conversation.status.present? ? @conversation.status.name : 'Выберите статус диалога' %></button>
      <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% ConversationStatus.all.each do |c_status| %>
          <li>
            <%= link_to c_status.name, volunteer_update_conversation_status_path(@conversation.id, c_status.id), remote: true, method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group btn-block">
      <button type="button" class="btn btn-info btn-xs" id="voter-status"><%= @conversation.voter.status.present? ? @conversation.status.name : 'Выберите статус избирателя' %></button>
      <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% VoterStatus.all.each do |v_status| %>
          <li>
            <%= link_to v_status.name, volunteer_update_voter_status_path(@conversation.id, v_status.id), remote: true, method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    
    <blockquote><%= @pattern.text %>
    </blockquote>
  </div>
</div>