<h2><i>Диалог c </i><%= @conversation.voter.name %></h2>
    
<div class="row">
  <div class="col-md-6">
    <h4>Начало диалога: <%= @conversation.created_at.strftime('%d.%m.%Y %H:%M') %></h4>
    <div class="alert alert-dismissable alert-info">
      <ul class="list-unstyled">
        <li>Район: <strong><%= $distrcits[@conversation.voter.district.to_i]%></strong></li>
        <li>Онлайн: <strong><%= @conversation.voter.last_seen.strftime('%d.%m.%Y %H:%M') if @conversation.voter.last_seen.present?%></strong></li>
        <li>День рождения*: <strong><%= @conversation.voter.bdate.strftime('%d.%m.%Y') if @conversation.voter.bdate.present? %></strong></li>
        <li>Соц. вес: <strong><%= @conversation.voter.social_weight %></strong></li>
      </ul>
      <br/>
      <small><i>*если год рождения 2014, то указан только день и месяц</i></small>
    </div>
    

    <% if @conversation.voter.can_write? %>
      <%= link_to "Открыть диалог Вконтакте", "http://vk.com/write#{@conversation.voter.vk_id}", target: "_blank", class: 'btn btn-success btn-block' %>
    <% else %>
      <%= link_to "Перейти на страницу Вконтакте", "http://vk.com/id#{@conversation.voter.vk_id}", target: "_blank", class: 'btn btn-warning btn-block' %>
    <% end %>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag @conversation.voter.image_url, class: "img-circle" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Как начать разговор?</h4>
    <blockquote><%= @conversation.voter.first_name %>, приветствую.
    Я волонтер команды Марии Гайдар.
    Пишу тебе, потому что ты указал(в) в личной информации район <%= $distrcits[@conversation.voter.district.to_i]%>.
    Мария будет участвовать в выборах в твоем районе. 
    Кстати, ты здесь прописан(а)?
    </blockquote>
  </div>
</div>