
<h2><i>Диалог c </i><%= @conversation.voter.name %></h2>
<div class="row">
  <div class="col-md-5">
  	<h4>Начало диалога: <%= @conversation.created_at.strftime('%d.%m.%Y %H:%M') %></h4>
	<p><%= image_tag @conversation.voter.image_url %></p>

	<%= link_to "Открыть старницу с диалогом Вконтакте", "http://vk.com/write#{@conversation.voter.vk_id}", target: "_blank", class: 'btn btn-info' %>
  </div>
  <div class="col-md-7">
  	<h4>Как начать разговор?</h4>
  	<blockquote>
		<%= @conversation.voter.first_name %>, приветствую.
		Я волонтер команды Марии Гайдар.
		Пишу тебе как жителю (Арбата/Пресни/Хамовников).
		Мария будет участвовать в выборах в твоем районе. 
		Кстати, ты здесь прописан(а)?
  	</blockquote>
  </div>


